/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Define altura total para o HTML e body */
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column; /* Layout vertical */
  justify-content: space-between; /* Garante que o footer fique no final */
  overflow: auto;
}

/* Blocos */
.blocks {
  flex: 1; /* Faz os blocos ocuparem o espaço disponível */
  display: grid;
  grid-template-columns: 2fr 1fr; /* Estáticos ocupam 2 colunas, dinâmico ocupa 1 */
  grid-template-rows: 1fr 1fr; /* Distribuir em 2 linhas */
  gap: 15px;
  padding: 15px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #003049, #D62828);
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.block.static {
  grid-row: span 1;
}

#vision {
  background: linear-gradient(135deg, #FFDD00, #FF9900);
}

#contact {
  background: linear-gradient(135deg, #6A1B9A, #AB47BC);
}

.block.dynamic {
  grid-column: span 1;
  grid-row: span 2;
  background: linear-gradient(135deg, #009688, #00BFA5);
}

/* Hover */
.block.dynamic:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.block h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.block-content {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 10px;
}

.block p {
  font-size: 1rem;
  margin: 0;
}

/* Botões de Contato */
.btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background: white;
  color: #003049;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
  background: #003049;
  color: white;
  transform: scale(1.20);
}

/* Ícones nos botões */
.btn i {
  margin-right: 8px;
}

/* Rodapé */
footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Empurra o footer para o final */
}


/* Responsividade */
@media (max-width: 768px) {
  .blocks {
    grid-template-columns: 1fr; /* Alinhar em uma única coluna */
    grid-template-rows: repeat(3, 1fr); /* Cada card ocupa uma linha */
    gap: 10px; /* Reduz o espaço entre os cards */
    padding: 10px;
  }

  .block.dynamic {
    grid-row: span 1; /* Ocupa apenas 1 linha */
  }

  .block {
    padding: 15px;
    font-size: 1.5rem;
  }

  .block h2 {
    font-size: 1.5rem; /* Texto menor no mobile */
  }

  .block-content {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
